body {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.seed-calendar {
  width: 100%;
}

.bs-callout-danger {
    border-left-color: #ce4844 !important;
}
.bs-callout-success {
    border-left-color: #58B957 !important;
}
.bs-callout {
    padding: 20px;
    margin: 0 0 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.page-header {
  margin-top: 0 !important;
}

.note {
  -moz-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(-0.2deg);

  box-shadow: 0px 4px 6px #888;
  -moz-box-shadow: 0px 4px 6px #888;
  -webkit-box-shadow: 0px 4px 6px #888;

  margin-bottom: 20px;
  background:#fefabc;
  padding:18px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:17px;
  color: #000;
}

.col-slack {
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 2em;
}

.note p:last-child {
  margin: 0;
}

.fa.red { color: red; }
.fa.green { color: green; }

.table.valign tbody>tr>td{
    vertical-align: middle !important;
}
img {
  max-width: 100%;
}

.jumbotron p.nom {
  margin: 0;
}

.bg.bg-1 {
  margin-bottom: 0px;
  background-image: url(/bg1.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em !important;
}

.bg.bg-1 h1, .bg.bg-1 p {
  background:rgba(0,0,0,0.8);
  display: inline-table;
  padding: 10px
}

.homepage-features p {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 2em;
}

.homepage-feature-img {
  margin-top: 30px;
}


.exposition-icon .fa {
  font-size: 3em;
  margin-right: 1em;
  color: #CDCDCD;
}

.exposition-icon .fa.fa-sun-o.active {
  font-size: 3em;
  margin-right: 1em;
  color: #FDD021;
}

.exposition-icon .fa.fa-tint.active {
  font-size: 3em;
  margin-right: 1em;
  color: #2799D7;
}

.home-anonimous {
  text-align: center;
  color: #d8d8d8;
}
