.crop-calendar .green {
  color: #468847;
  background-color: #dff0d8!important;
}

.crop-calendar .yellow {
  color: #468847;
  background-color: #FCEF8D!important;
}

.crop-calendar .gray {
  color: #ccc;
  background-color: #f9f9f9!important;
}

.crop-calendar .blue {
  
  /* color: #ccc; */
  background-color:#27C9F5!important;
}